<div class="header"><p><<strong>TEST</strong></p></div>
<div class="body"><br><br>
  <label for="uname">Client/Id: </label>
    <input type="text" id="uname" name="name"><br><br>

    <label for="examiner">Examiner: </label>
    <input type="text" id="examiner" name="examiner"><br><br>
    Date and Time: {{jstoday}}<br><br>
    Enter Test Number:<input type="text" id="testnum" name="testnum">
</div>
<div class="bottom">
        <button [routerLink]="['/start']"  > Back</button>
      <button [routerLink]="['/page1']"  > Next</button>

 </div>